---
title: "Confirm your email address"
preheader: "Please confirm your email address in order to activate your account."
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="my-12 sm:my-8 text-center">
            <a href="https://app.inkandpower.com">
              <img
                src="https://app.inkandpower.com/assets/ink-power-header-logo-35e155d2.svg"
                height="70"
                alt="Maizzle"
              />
            </a>
          </div>

          <table class="w-full">
            <tr>
              <td
                class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm"
              >
                <h1
                  class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold"
                >
                  Hello,
                </h1>

                <p class="m-0 leading-6">
                  Thank you for signing up for Ink + Power. It is time to unlock
                  your full potential.
                  <br />
                  <br />
                  Please confirm your email address by clicking the button
                  below:
                </p>

                <x-spacer height="24px" />

                <x-button href="https://maizzle.com">
                  Confirm email address &rarr;
                </x-button>

                <x-divider space-y="32px" class="bg-slate-200" />

                <p class="m-0">
                  If you didn't sign up for Ink + Power, you can safely ignore
                  this email.
                  <br />
                  <br />
                  Thanks, <br />The Ink + Power Team
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-slate-600 text-xs px-6">
                <p class="m-0 mb-4 uppercase">
                  Ink + Power
                </p>

                <p class="m-0 italic">
                  Take control of you finances.
                </p>

                <p class="cursor-default">
                  <a
                    href="https://app.inkandpower.com"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]"
                    >Ink + Power App</a
                  >
                  &bull;
                  <a
                    href="https://inkandpower.com"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]"
                    >Store</a
                  >
                  &bull;
                  <a
                    href="https://www.instagram.com/ink_and_power"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]"
                    >Instagram</a
                  >
                  &bull;
                  <a
                    href="https://www.facebook.com/InkandPower"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]"
                    >Facebook</a
                  >
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
